@import "bootstrap";
body{
	background: #eee;
	margin:0;
	padding:0;
}
header{
	height: 60px;
    padding: 8px;
    background: #fff;
}
header a {
	font-size: 30px;
	color:#333;
	font-weight: bold;
	text-decoration: none;
}
footer{
	border-top: 1px solid #ccc;
    background: #000;
    color: #fff;
    padding: 15px;
}
footer p{
	margin: 0;
}
.main{
	padding:30px 0;
}
.left-bar{
	background: #cecece;
    padding: 35px 25px;
}
.filter-input input{
	border-radius: 0;
    height: 40px;
    font-size: 18px;
    border: 1px solid #aaa;
}
.book-list{
	margin:20px 0;
}
.book-list .book{
	padding: 15px 0;
	border-bottom:1px solid #aaa;
}
.book-list .book h2{
	font-size: 24px;
    font-weight: bold;
    margin: 0;
    line-height: 30px;
}
.book-list .book h3{
	font-size: 18px;
  	line-height: 30p;
    margin: 0;
}
.book-list .book button{
	margin-top: 15px;
	border:none;
}
.wishlist-itms{
	padding:0 20px; 
}
.wishlist-itms h1{
	margin: 0;
    text-align: center;
    margin-bottom: 20px;
}
.wishlist-item {
    background: #fff;
    margin-bottom: 20px;
    padding: 30px 15px;
 }
 .wishlist-item h2{
 	margin-top:0; 
 }
 .wishlist-itms h4{
 	text-align: center;
 }
 .wishlist-itms p{
 	max-height:96px;
 	overflow:hidden;
 }